@page "/CreateUser"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Radzen
@using Radzen.Blazor
@inject IUserService userService
<h3>CreateUser</h3>

<div class="card">
    <h3>Create User</h3>
    <div class="form-group field">
        <label>User name:</label>
        <input type="text" @bind="username" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @colour">@resultMsg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(username))" class="acceptbtn">Create</button>
    </div>
</div>

@code {
    bool sidebar1Expanded = true;
}

@code {
    private string username = "";
    private string resultMsg = "";
    private string colour = "";
    
    private async Task Create()
    {
        resultMsg = "";

        try
        {
            await userService.CreateUserAsync(new UserCreationDto(username));
            username = "";
            resultMsg = "User created successfully";
            colour = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            colour = "red";
        }
    }
}