@page "/CreateUser"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Radzen
@using Radzen.Blazor
@inject IUserService userService
@inherits LayoutComponentBase
<h3>CreateUser</h3>

<div>
    <RadzenText TextStyle="TextStyle.H1">
        Create User
    </RadzenText>
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">
            <label>User name:</label>
        </RadzenText>
        <input type="text" @bind="username" @bind:event="oninput"/>
                @if (!string.IsNullOrEmpty(resultMsg))
                {
                    <label style="color: @colour">@resultMsg</label>
                }
        <button class="rz-mx-2" @onclick="Create" disabled="@(string.IsNullOrEmpty(username))">Create</button>
    </RadzenCard>
</div>


@code {
    private string username = "";
    private string resultMsg = "";
    private string colour = "";

    private async Task Create()
    {
        resultMsg = "";

        try
        {
            await userService.CreateUserAsync(new UserCreationDto(username));
            username = "";
            resultMsg = "User created successfully";
            colour = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            colour = "red";
        }
    }

}